@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
}

html,
.login_header {
    justify-content: center;
    align-items: center;
}

html,
main,
.login_header,
.rem_forgot,
label,
.signin,
/* .ocw, */
.button,
h1 {
    display: flex;
}

.ptext {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: bold;
}

.link {
    color: blue;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    background-color: white;
    align-items: center;
    border-radius: 0.5em;
    border: 1px black solid;
    height: 33em;
    width: 24em;
    flex-direction: column;
    padding: 0 8%;
}

.login_header {
    height: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}

.head_dif {
    margin-left: 0.2em;
    color: rgb(42, 155, 165);
}

.plate_diff {
    border: 1px gray solid;
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    background-color: white;
    width: 21em;
}

.input {
    width: 25em;
    height: 2.3em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.3em;
}

input {
    background: transparent;
    border: 1px rgb(156, 149, 149) solid;
}

label {
    justify-content: center;
}

label p {
    margin-left: 0.5em;
}

.rem_forgot {
    height: 2.3em;
    width: 21em;
    justify-content: space-between;
    align-items: center;
}

.signin {
    height: 2.5em;
    width: 25.2em;
    background-color: #435ad9;
    border: none;
    border-radius: 0.4em;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.lock {
    height: 1.5em;
    margin-left: 1em;
}

.none {
    width: 2em;
}

.ocw {
    height: 1.5em;
    width: 21em;
    margin: 1em 0;
    text-align: center;
}
.ocw_text{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    align-items: center;
    color: gray;
    font-weight: light;
}
.ocw_text::before,.ocw_text::after{
    content: "";
    height: 1px;
    background-color: gray;
    display: block;
}

.button {
    justify-content: space-between;
    width: 21em;
}

.button button {
    width: 48%;
    height: 2.6em;
    background-color: white;
    border: 1px gray solid;
    border-radius: 0.4em;
}

.git_icon,
.google_icon {
    height: 1.3em;
}

.create_acc {
    width: 21em;
    margin: 1.4em 0;
    text-align: center;
    

}

.footer {
    color: rgb(156, 149, 149);
    font-size: small;
}

/* Transform funtions */
.button button:hover {
    background-color: rgb(206, 206, 206);
}

.signin:hover {
    transform: scale(1.01, 1.01);
}

.link:hover {
    color: rgb(106, 111, 243);
}